{
    "dns": {
        "interfaces": [
            {
                "localAddress": "INT_IP",
                "name": "ns1.BDOMAIN",
                "publicAddress": "EXT_IP"
            }
        ],
        "ports": 53
    },
    "eventCapture": {
        "http": {
            "ports": 80
        },
        "https": {
            "ports": 443
        },
        "localAddress": [
            "INT_IP"
        ],
        "publicAddress": "EXT_IP",
        "smtp": {
            "ports": [
                25,
                587
            ]
        },
        "smtps": {
            "ports": 465
        },
        "ssl": {
            "certificateFiles": [
                "/usr/local/collaborator/keys/privkey.pem",
                "/usr/local/collaborator/keys/cert.pem",
                "/usr/local/collaborator/keys/fullchain.pem"
            ]
        }
    },
    "logLevel": "INFO",
    "metrics": {
        "addressWhitelist": [
            "127.0.0.1/32"
        ],
        "path": "burp-metrics-path"
    },
    "polling": {
        "http": {
            "port": 80
        },
        "https": {
            "port": 443
        },
        "localAddress": "INT_IP",
        "publicAddress": "EXT_IP",
        "ssl": {
            "certificateFiles": [
                "/usr/local/collaborator/keys/privkey.pem",
                "/usr/local/collaborator/keys/cert.pem",
                "/usr/local/collaborator/keys/fullchain.pem"
            ]
        }
    },
    "serverDomain": "BDOMAIN",
    "workerThreads": 40
}